@model NeuropsychInventory.ViewModels.TakeInventoryVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    @ViewBag.Error

@if (Model.AllInventoriesComplete == true)
{
    <p>
        @Html.ActionLink("Begin New Inventory", "TakeInventory")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Continue Current Inventory", "TakeInventory")
    </p>
}

<table>
    <tr>
        <th>
            Recent Inventories:
        </th>
    </tr>

@foreach (var item in Model.Inventories) {
    <tr>
        <td>
            @Html.ActionLink(item.Date.ToShortDateString(), "Details", new { id=item.Id })
        </td>
    </tr>
}
</table>

