@model NeuropsychInventory.ViewModels.TestVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model.Tests) {
    @item.Abbreviation <br />
}
<p>
    @foreach (var item in Model.ProductsByTest) {
        @item.Name <br />
    }
</p>